@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .Link {
    @apply hover:underline cursor-pointer;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #202124;
    color: #e8eaed;
    font-family: arial, sans-serif;
  }

  .search {
    @apply hover:bg-[#2f3032] focus-within:bg-[#5f6368] border border-[#5f6368];
  }
}

.btn {
  color: #e8eaed;
  background-color: #303134;
  @apply p-3 rounded-lg ring-gray-500 text-sm hover:ring-1 focus:outline-none active:ring-gray-400;
}

.grid {
  @apply bg-[#1b1b1d];
}

.location-footer {
  @apply px-3 py-2 border-b-[0.1px] border-[#72707042];
}
